
table {
    &.empty tfoot{//here & represent the parent
        display: table-footer-group;
    }
    tfoot{
        display: none;
    }
    tbody tr.selected{ //here this is a if statement, if tr has a class which name is selected when below style will apply
        background-color: lightblue;
    }

    td:first-child,th:first-child,td:last-child{
        text-align: center;
    }
    td:last-child{
        font-size: 24px;
        
        i:hover{
            color: red;
        }
    }
    td, th{
        vertical-align: middle;
    }
    tbody tr{
        cursor: pointer;
    }
}
.col-id{
    width: 70px;
}
.col-name{
    width: 200px;
}
.col-contact{
    width: 100px;
}